html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Hind", sans-serif;
  color: grey;
  font-weight: bold;
}

.button-up {
  position: fixed;
  height: 2.5rem;
  width: 2.8rem;
  right: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  bottom: 1.5rem;
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 0.479);
  background: rgba(128, 128, 128, 0.692);
  box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.733);
  transition: 1s;
}

.button-up:hover {
  color: white;
  box-shadow: 0 0 10px 0 white;
  cursor: pointer;
}
